.header-text{
    color: #5980f4;
    margin: 20px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search {
    width: 50%;
    margin-right: 50px;
}
.search input{
    width: 100%;
    height: 40px;
    border: 1px solid #5980f4;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
}

.main{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.all-product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
